#image {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bordered form */
.container {
    position: absolute;
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px solid #525252;
    top: 300px;
    left: 800px;

}


/* Full-width inputs */
input {
    padding: 10px 60px;left: 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    padding: 10px 60px;
    margin: 8px 0;
}

input:hover{
    border-bottom-color: red;
    border-left-color: red;
}

#title{
    position: absolute;
    left: 85%;
    font-family: fantasy;
    font-style: italic;
    color: red;

}